input{
    display: block;
    margin-bottom: 1rem;
}
body{
    background-color: darkgray;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    max-width: 300px;
    padding: 30px;
    position: absolute;
}
input, button{
    width: 100%;
    padding: 0.4rem;
    margin: 0.5rem 0;
    outline: none;
    border: 0.5px solid gray;
    box-sizing: border-box;
}

.box{
    width: 50%;
    text-align: justify;
    margin: 100px;
    padding: 50px;
    background-color: white;
}