body{
    background-color: darkgray;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    border: 0cap;
    background-size: cover;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-color: rgb(78, 78, 78);
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 7.5px;
    border-radius: 10px;
}

header h1{
    color: white;
}
nav{
    width: auto;
    background-color: rgb(78, 78, 78);
    position: sticky;
    top: 0;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2.5px;
    border-radius: 10px;
}
nav li{
    display: inline-block;
}
li a{
    padding: 16px;
    color: white;
    text-decoration: none;
}
main{
    background-color: white;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    border: 1px solid gray;
    width: 70%;
    border-radius: 10px;
}
img{
    display: inline-block;
    width: auto;
    background-color: black;
    margin: 5px;
    padding: 1px;
    border-radius: 10px;
}
h2, table{
    color: rgb(78, 78, 78);
    margin-left: 15px;
}
table{
    position: relative;
}
footer{
    background-color: rgb(78, 78, 78);
    text-align: center;  
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2.5px;
    border-radius: 10px;
}
address{
    padding: 16px;
    color: white;
}